<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.min.css}" />
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    
    <link rel="stylesheet" th:href="@{/css/list.css}" />
</head>
<body>
	<!-- 네비게이션 바 -->
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container text-center">
			<div class="row">
				<div class="col">
					<!-- 사이트명 -->
					<a class="navbar-brand" th:href="@{/findlp/main}">
						<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
  							<path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
  							<path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
						</svg>
						<span class="logo">FindLP</span>
					</a>
					<span class="sub_logo">Find Low Price</span>
				</div>
				<div class="col-6">
				    <!-- 검색창 -->
				    <form class="d-flex" th:action="@{/findlp/search/keyword}" th:method="post" id="searchForm">
				        <input class="form-control me-2" type="search" id="searchInput" name="query" placeholder="원하시는 상품을 검색하세요." aria-label="Search">
				        <button class="btn btn-success" type="submit" id="sendKeywordButton">Search</button>
				    </form>
				</div>
				<div class="col-3">
					<!-- 항목들 -->
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li>
						<button type="button" class="btn btn-dark">Dark</button>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	
	<!-- 상품 카드 -->
	<div class="container">
        <div th:if="${#lists.isEmpty(Result)}">
			<div class="alert alert-secondary" role="alert">
  				<h4>"<span th:text="${query}" id="query"></span>"에 대한 검색 결과가 없습니다.</h4>
  				<hr>
  				<p>다른 검색어를 입력해주시길 바랍니다.</p>
			</div>
		</div>
		<div th:unless="${#lists.isEmpty(Result)}">
		<div class="row row-cols-4">
			<div class="col" th:each="res: ${Result}">
            	<div class="card fixed-card">
                	<a class="card_link_style" th:href="${res.link}">
  	                	<img th:src="${res.img_link}" class="card-img-top" th:alt="${res.name}">
  	                	<h6><span class="badge text-bg-secondary" th:text="${res.ProId}"></span></h6>
                    	<div class="card-body">
                        	<p th:text="${res.name}"></p>
                        	<p class="price_text" th:text="${res.st_price}"></p>
                    	</div>
                	</a>
                </div>
        	</div>
		</div>
        </div>
    </div>
</body>
</html>